<div class="wrapper">
	<div class="section section-header">
		<div class="parallax pattern-image filter filter-gradient-5"> 
			<%=image_tag('rubik_background.jpg')%>
		</div>
		<div class="container">
			<div class="content content-with-opacity">
				<h1>PH to OverCast</h1>
				<div class="separator-container">
					<div class="separator line-separator">♫</div>
				</div>				
				<p>For people like to listen with Overcast</p>
			</div>
		</div>
	</div><!--section section-header-->  
	<div class="section section-we-do-2" id="workflow">
		<div class="container">
			<div class="row">
				<div class="title add-animation">
					<h2>Connect ProductHunt to OverCast</h2>
					<div class="separator-container">
						<div class="separator line-separator">♦</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="rubickcard add-animation animation-1">
						<div>
							<%= image_tag("connectovercast.png")%>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!--end section-->
	<div class="section section-we-do-2" id="workflow">
		<div class="container">
			<div class="row">
				<div class="title add-animation">
					<h2>How it works</h2>
					<div class="separator-container">
						<div class="separator line-separator">♦</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="rubickcard add-animation animation-1">
						<div>
							<%= image_tag("connectovercast.png")%>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div><!--div_wrapper-->